/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
}




/* Header */
header {
    background-color: white;
    width: 100%;
    padding-left: 15px;
    box-shadow: 0 2px 2px #3a3a3a;
    z-index: 99;
    display: flex;
    justify-content: center;
    position: fixed;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
    color: rgb(121, 117, 117);
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px  solid black;
}

/* Navigation bar and drop down toggle */
nav {
    position:absolute;
    background-color: white;
    width: 100%;
    left: 0;
    box-shadow: 0 2px 2px solid #3a3a3a;
    text-align: center;
    cursor: pointer;
    display: none;
    top: 100%;
    font-family: 'Lora', sans-serif;
    color: #676363;
}

.menu_toggle {
    display: flex;
    align-items: flex-start;
}

#dropdown_menu:checked~nav  {
    display: block;
}

#dropdown_menu {
    display: none;
}

.dropdown_label {
    font-size: 2rem;
}

.dropdown_label i {
    color: #949090cc;
}

/* Main content */
main {
    background-color: lightblue;
    flex: 1 0 auto;
    margin-top: 150px;
}


/* Footer */
footer {
    background-color: grey;
}