* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
}




/* Header */
header {
    background-color: white;
    width: 100%;
    position: fixed;
    padding-left: 15px;
    box-shadow: 0 2px 2px #3a3a3a;
    z-index: 99;
}

#menu>li {
    margin-bottom: 1em;
    top: 0;
    right: 0;
}

/* Main content */
main {
    background-color: lightblue;
    flex: 1 0 auto;
}


/* Footer */
footer {
    background-color: grey;
}